* {
  box-sizing: border-box;
}

.contenerdor {
  display: flex;
  justify-content: space-evenly;
}

.box {
  width: 200px;
  height: 200px;
  margin: 10px;
}

#blue {
  background-color: blue;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#yellow {
  background-color: yellow;
}
